{{#if thoughts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each thoughts as |thought|}}
    <li>
      {{> thought-info thought}}
      <a href="/dashboard/edit/{{thought._id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<section>
  <h2>Add A New Thought</h2>

  <form class="new-thought-form">
    <div>
    <label for="thought-text">Thought Info</label>
    <textarea name="thought-text" id="thought-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{/if}}

<script src="/javascript/dashboard.js"></script>